
<style>
    * {
        font-family: arial;
        font-size: 14px;
    }
    h2 {
        font-size: 16px;
    }
    body {
        background-color: #ccccff
    }
    ul li, p, a {
        line-height: 18px;
    }
    td, th {
        border: 1px solid green;
        width: 35%;
    }
    table {
        border: 1px solid green;
        margin: 10px 20px;
        width: 50%;
    }
</style>

<h2> {{ meal.name }} </h2>

{{ food_id }}

<form action="{% url 'food:addFood' meal.id %}" method="post">
    {% csrf_token %}

    <table>
        <tr> <th>Food</th>
            <td>
                <select name="food">
                {% for food in food_list %}
                    <option value="{{ food.id }}"> {{ food.name }} </option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr><th>Quantity</th>
            <td>
            <input type="text" name="quantity"/>
            </td>
        </tr>
        <tr><th>Unit</th>
            <td>
            <input type="text" name="quantityUnit"/>
            </td>
        </tr>
        <tr><th>&nbsp;</th>
            <td>
            <input type="submit" value="add"/>
            </td>
        </tr>
    </table>

</form>

<a href="{% url 'food:index' %}"> <-Back </a>