<style>
    * {
        font-family: arial;
        font-size: 14px;
    }
    h2 {
        font-size: 16px;
    }
    body {
        background-color: #ccccff
    }
    ul li, p, a {
        line-height: 18px;
    }
    td {
        border: 1px solid green;
        width: 35%;
        vertical-align: top;
        padding: 8px;
    }
    table {
        border: 1px solid green;
    }

</style>

<h2> Meal planner </h2>

<a href="https://www.bodybuilding.com/fun/fats_calculator.htm"/> calculator </a>

{{ context }}

<table>
    <tr><th colspan="2">Today</th>
    </tr>
    {% for meal in meals_list %}
        <tr>
            <td>
                {{ meal.name }}
                <ul> <!-- many to many relationship set -->
                {% for f in meal.mealfood_set.all %}
                    <li>{{ f.food.name }} - {{ f.quantity }}{{ f.quantityUnit }}</li>
                {% endfor %}
                </ul>
                <a href="{% url 'food:addFood' meal.id %}"> add food </a>
            </td>
            <td>
                <ul>
                    {% for f in meal.food.all %}
                        {% for n in f.foodnutrient_set.all %}
                            <li> {{ n.nutrient }} {{ n.quantity }} {{ n.quantityUnit }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
</table>

<p><a href="{% url 'food:animal-add' %}">Add animal</a></p>